*.egg-info
.ipynb_checkpoints
__pycache__
.idea
spotting/analysis/20_matrices/1_stitch_and_upload_datasets/**/*.i*
spotting/analysis/20_matrices/4_model_evaluation/**/*.png
spotting/analysis/20_matrices/6_plots/q2*