*.egg-info
.ipynb_checkpoints
__pycache__
.idea
*.imzML
*.ibd
*.tif
*.hdf5
*.png
*.svg
**/catboost/*
*/**/2021*.csv
*/**/2022*.csv
paper_revision/revision_concentration/concentrations_from_serum/serum_metabolites_may2024.xml
