*.egg-info
.ipynb_checkpoints
__pycache__
.idea
spotting/analysis/20_matrices/1_stitch_and_upload_datasets/**/*.i*
spotting/analysis/20_matrices/*_model_*/**/*.p*
spotting/analysis/20_matrices/*_model_*/**/*.zip
spotting/analysis/20_matrices/*_model_*/**/*.hdf5
spotting/analysis/20_matrices/6_plots/q0_plots/*.p*
spotting/analysis/20_matrices/6_plots/q1_plots/*.p*
spotting/analysis/20_matrices/6_plots/q2_plots/*.p*
spotting/analysis/20_matrices/6_plots/q2_plots/**/.p*

